/*Navbar CSS*/
/*
a{
	color:#FFF99F;
}*/
.navbar{
	background-color: #FFF;
	margin-bottom:0px;
}
#myCarousel{
	max-height:150vh !important;
}
.shopname{
	font-family: 'Audiowide';
	font-size: 32px;
	color:#FF8500;
}
.shop{
    color:#FF8500;
}
.item{
	max-height:50vh;
}
.about{
	background-color: #f2f2f2;
}
.logo {
    color: #f4511e;
    font-size: 180px;
    margin-top:20px;
}
.logo-small{
    color: #f4511e;
    font-size: 50px;
    margin-top:20px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

}
.slide {
    /* animation-name: slide; */
    -webkit-animation-name: slide;
    /* animation-duration: 1s; */
    -webkit-animation-duration: 1s;
    /* visibility: visible; */
}
.contain{
    
    background-image: url("../images/city-1799655_640.jpg");
    /*min-height: 500px;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -999999999;
}
.whitetext{
    color: #FFF;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    font-size: 36px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.paratext{
    color: #FFF;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.offered{
    padding: 70px 150px;
}
@media only screen and (max-width: 500px) {
    .offered{
        padding: 10px 20px;
        z-index: 999;
    }
    .contain{
    
    background-image: url("../images/city-1799655_640.jpg");
    /*min-height: 500px;*/
    z-index: -999999999;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
