.portfoliobg{
    /*background-image: url("../images/portfolio.jpg");*/
    /*min-height: 500px;*/
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6867c3;
}
.titletext{
	font-size: 36px;
	line-height: 61px;
	text-align: center;
	padding: 60px 0px 60px;
	/*background-color: rgba(0,0,0,0.8);*/
}
.white-text{
	color: #FFF;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	border-radius: 5px;
}
.linehr{
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}
.nutanthumbnail a>img, .nutanthumbnail>img {
    display: block;
    max-width: 100%;
    height: 250px !important;
}
.nutanthumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

/* FOR TOOLTIP*/
.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}
