.portfoliobg{
    /*background-image: url("../images/New Project (2).png");*/
    /*min-height: 500px;*/
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6867c3;
}
.titletext{
	font-size: 36px;
	line-height: 61px;
	text-align: center;
	padding: 60px 0px 60px;
	/*background-color: rgba(0,0,0,0.8);*/
}
.white-text{
	color: #FFF;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	border-radius: 5px;
}
.pfonts{
	font-size: 16px;
}
.webdetails{
	padding: 50px;
	background-color: #FFFFFF;
}
.paddetails{
	padding-left: 20px;
}
.descriptionweb{
	background-color: #DDD;
	padding-bottom: 50px;
}
.btncolor{
	padding-left: 8px 20px;
	border-radius: 3px;
	border-color: 1px solid #f32e1a;
	background-color: #f32e1a;
	color: #FFF;
}
.contactbtn{
	padding: 50px;
}